{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A web application for MINIPR - Scavenger Run Event to track players time">
    <meta name="author" content="Juan N De La Cruz juannicolas@minipr.org">

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen">
    

</head>
<body>
{% block content %}
{% endblock %}
<br>
<div class="panel panel-default">
    <div class="panel-footer">
        <a href="http://www.minipr.org" target="_blank">MINIPR</a> 2015 | Scavenger Run Event
    </div>
</div>
</body>
</html>