{% extends "base.html" %}

{% block content %}
<center>
<title>{{ title }}</title>
    <div class="jumbotron">
        <h2>{{ head }}</h2>
    </div>
    <div>
        <form action="{{ cp }}" method="POST">{% csrf_token %}
            <p>Escribir los 3 digitos de ID del jugador en el encasillado abajo</p>
            <br>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-dismissible alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="form-group">
                MPR ID:<p>{{ form.mpr_id }}</p>
                {% if form.non_field_errors %}
                    <div class="alert alert-dismissible alert-danger">{{ form.non_field_errors|striptags }}</div>
                {% endif %}
            </div>

            {% if form.mpr_id.errors %}
                <div class="alert alert-danger">{{ form.mpr_id.errors|striptags }}</div>
            {% endif %}
            <input type="hidden" id="id_place_name_id" name="place_name_id" value="{{ cpid }}">
            <p>
                <input class="btn btn-success" type="submit" value="CHECK IN">
            </p>
        </form>
    </div>
</center>
{% endblock %}