{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
<center>
    <div class="jumbotron">
        <h1>Scavenger Run Event</h1>
        <h3>Timetracker</h3>
    </div>
    <p class="text-info">Bienvenido a la herramienta oficial del evento del año, Scavenger Run 2015.</p>
    <br>
    <div>
        <p><a class="btn btn-primary" type="button" href="cp/1/213">Checkpoint 1</a></p>
        <p><a class="btn btn-primary" type="button" href="cp/2/122">Checkpoint 2</a></p>
        <p><a class="btn btn-primary" type="button" href="cp/3/123">Checkpoint 3</a></p>
        <p><a class="btn btn-primary" type="button" href="cp/4/133">Checkpoint 4</a></p>
    </div>
</center>
{% endblock %}