{% extends "base.html" %}

{% block content %}
    <div class="container">
        <title>Scavenger Run Event</title>
        <div class="jumbotron">
            <h1>Scavenger Run Event 2015</h1>
            <h3>Timetracker</h3>
            Bienvenido a la herramienta oficial del evento del año, Scavenger Run 2015.
        </div>
        <div class="container">
            <p><a name="AG Servicio" type="button" href="cp/1">Checkpoint 1</a></p>
            <p><a name="El Corozo" type="button" href="cp/2">Checkpoint 2</a></p>
            <p><a name="Pa'Picar" type="button" href="cp/3">Checkpoint 3</a></p>
            <p><a name="Gasolina Beach Club" type="button" href="cp4/">Checkpoint 4</a></p>
        </div>
    </div>
{% endblock %}