{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
<center>
    <div class="jumbotron">
        <h1>Scavenger Run Event</h1>
        <h3>Timetracker</h3>
    </div>
    <p class="text-info">Bienvenido a la herramienta oficial del evento del año, Scavenger Run 2015.</p>
    <br>
    <div>
        {% for cp in cps %}
        <p><a class="btn btn-primary" type="button" href="{% url 'cp' cp.pk %}">Checkpoint {{ cp.pk }}</a></p>
        {% endfor %}
    </div>
</center>
{% endblock %}